*{
    padding:0;
    margin:0;
}
body{
font-family: "Young Serif", serif;
}
    
.container{
    padding: 50px;
}
.section_one{
    background-color: black;
    color: white;
    padding: 20px;
}
.section_one__contact{
    background-color:orangered;
    color: white;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    display: inline-block;
    margin-top: 10px;
}
.section_one__name{
    font-size: 60px;
}
.section_one__role
{
    font-size: 30px;
    margin-top: 10px;

}
.section_two,.section_three,.section_four,.section_five{
    margin-top: 20px;
}
.section_two__desc,.section_three__desc,.section_four__desc,.section_five__desc{
    margin-top: 10px;
}
.section_five{
    background-color: black;
    color: white;
    padding: 20px;
}
.section_five__title a{
color: skyblue;
}
.section_three ul,.section_four ul{
list-style: none;
}
.section_three
{
    background-color: #6462fd;
    color: black;
  display: inline-block;
  padding: 20px;
  height: 200px;
  border-radius: 10px;
  vertical-align: top;
}
.section_four
{
background-color: #fe7517;
color: black;
display: inline-block;
 height: 200px;
 padding: 20px;
  border-radius: 10px;
  vertical-align: top;


}

.contact_form{
    margin-top: 20px;
}
.contact_form__input,.contact_form__textarea,.contact_form__submit{
    margin-top: 10px;
}
.contact_form__input
{
    padding: 10px;
    border: none;
    border-bottom: solid black 1px;
}
.contact_form__textarea
{
    padding: 10px;
    border: none;
    border: solid black 1px ;
}
.contact_form__submit{
    padding-top: 10px;
     padding-bottom: 10px;
     padding-left: 20px;
      padding-right: 20px;
      background-color: orangered;
      color:black;
      border: none;
}